@charset "utf-8";
/* CSS Document */

body {
    background-image: url('./assets/background3.jpg');
	margin-left: 200px;
	margin-right: 200px;
	font-family: Calibri;
}

li a {
	padding: 10px;
    background: rgba(255,255,255,0.5);
}

table,th,td
{
	border:2px solid black;
	padding:15px;
}

.logo-header {
	font-size: 80px;
	vertical-align: text-top;
}

.navbar li {
	display: inline;
}

.abstract-call {
	font-size: 120px;
	color: red;
}

.program-table {
	width: 1000px;
}

.talk-name {
	
}