@charset "utf-8";
/* CSS Document */

body {
    background-image: url('./assets/background1.jpg');
    background-color: rgba(249,249,249,1);
    background-repeat: no-repeat;
	margin-left: 320px;
	margin-right: 320px;
	margin-top: 150px;
	margin-bottom: 50px;
	font-family: Calibri;
}

li a {
	padding: 10px;
    background: rgba(255,255,255,0.5);
}

table,th,td
{
	border:2px solid black;
	margin-top:50px;
	padding:15px;
}

.intro-text {
	padding-bottom: 50px;
}

.logo-header {
	font-size: 65px;
	vertical-align: text-top;
}

.navbar li {
	display: inline;
}

.abstract-call {
	font-size: 120px;
	color: red;
}

.program-table {
	width: 1000px;
}

.contact-info, .standards-explanation {
	margin-top:50px;
	padding-bottom: 50px;
}